<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg">
          <div class="panel panel-blue">
          <h3>We are in this together!</h3>
          <p>With COVID-19, so much of our daily lives has changed. 
            But there is one thing you can always count on: Children’s Apollo is here for you. 
            You’ve always trusted us to care for your children and you can trust us now. 
  
            Children’s Apollo is committed to providing our patient families and our community with reliable, 
            up-to-date information about COVID-19. Please refer to the resources below.</p>
          <h4 [style.backgroundColor]="'rgb(179, 198, 240)'">If you or your child have COVID-19 symptoms (fever, cough or shortness of breath), visit Children's
           Online Urgent Care or call your child's doctor. Please note Children's Online Urgent Care only offers 
           screening for COVID-19 symptoms and is not able to order a COVID-19 test.</h4>
            
    
        <br>
        </div>
        <br>
