<h3>The following are the terms and conditions of Children's Apollo</h3>
<p>
    The Apollo services available on the Website or App do not in any way constitute an 
    invitation or recommendation to avail the Tele-consultation Services. The services provided 
    through the Website or App are not intended in any ways to be a substitute for face to face 
    consultation with a doctor. Apolloadvices the users to make independent assessment in respect of 
    its accuracy or usefulness and suitability prior to making any decision in reliance hereof. Terms 
    ‘you’ and ‘your’ hereafter refers to the user (both registered and unregistered) who is using/ 
    browsing through the
    Website https://chennai.apollohospitals.com and/ or the App.</p>
