<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg">
          <div class="panel panel-blue">
     
          <h3> Why choose us?</h3>
          <h4 [style.backgroundColor]="'rgb(179, 198, 240)'">At Children’s Wisconsin, our pediatric-trained experts are focused 100 percent on kids. This means our doctors are specially trained to recognize kid-specific clues other doctors might miss.

            But our expertise goes beyond medical knowledge. We talk to children in ways they can understand, create child-friendly environments that put them at ease and provide resources that impact their health at home and at school.</h4>
              
            
          <h4><i>Our mission is to bring healthcare of International 
            standards within the reach of every individual. We are committed to the achievement 
            and maintenance of excellence in education, research and healthcare for the benefit of humanity</i></h4>
        
        <br>
        </div>
        <br>
        


