<div class="row">
    <div class="col-md-6 offset-md mt-4">
    <h3>Register </h3>
    <h4>If you have don't have an account<br>Create one now</h4>
        <form>
            <form>
                <div class="form-group">
                  <label for="registerusername">Username</label>
                  <input type="text" 
                  class="form-control" 
                  id="registerusername" 
                 placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label for="registerEmail">Email</label>
                  <input type="email" 
                  class="form-control" 
                  id="registerEmail" 
                  placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="register-Password">Password</label>
                    <input type="text" 
                    class="form-control" 
                    id="register-Password" 
                   placeholder="Password">
                  </div>
               
                <button type="submit" 
                class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
              </form>
        </form>
     
    </div>
    </div>